{% extends 'base.html' %}
{% block title %}書籍一覧{% endblock title %}

{% block content %}
    {% for item in book_list %}
    <div class="card">
        <div class="card-header">
            {{item.title}}
        </div>
        <div class="card-body">
          <p class="card-text">{{item.text}}</p>
          <a href="{% url 'detail-book' item.pk %}" class="btn btn-primary">詳細へ</a>
          <h6 class="card-title">{{item.category}}</h6>
        </div>
      </div>
    {% endfor %}
{% endblock content %}